<!DOCTYPE html>
<html>

    <head>
        <title>Code&Coffee</title>
        <!--Required Meta tags-->
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta
        content="ie=edge" http-equiv="X-UA-Compatible"/>
        <!-- Bootstrap core CSS -->
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!--Style Sheets-->
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">


    <!--Fonts Link-->
        <!-- <link href="fonts/Aileron-Thin.otf" rel="stylesheet"> -->
    </head>

    <body>
        {{{ body }}}
        <script src="js/index.js"></script>
    </body>

</html>
