

<div id="community-background">
    <nav class="navbar navbar-expand-sm navbar-dark" id="member-nav">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/community"></a>
        <img src="/img/logo2.png" alt="logo" style="width:70px; height:55px;">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/community">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
            </li>
        </ul>
        <a class="navbar-brand" id="profile-icon">
        <img src="/img/headPic.png" href="/userprofile" alt="logo"
            style="width:70px;
            height:55px;"></a>
    </nav>

    <!--title-->


    <section id="entire-page">

        <div id="community-header">
            <h1>Find developers in your area and collaborate on projects
                together!</h1>
        </div>

        <!-- Project Section -->
        <section class="community-projects" style="max-width:1246px">
            <hr>
            <h2 id="communityh2">Available Projects</h2>
            <h3 id="communityh3">Click on a project and see if you can
                collaborate!</h3>
            <div class="row" id="community-row">
                <div class="card-projects">
                    <img src="/img/img1.jpg" alt="House">
                    <h3 class="no-space">55+</h3>
                    <h3 class="no-space">Projects</h3>
                </div>

                <div class="card-projects">
                    <img src="/img/img3.jpg" alt="House">
                    <h3 class="no-space">55+</h3>
                    <h3 class="no-space">Projects</h3>
                </div>


                <div class="card-projects">
                    <img src="/img/img2.jpg" alt="House">
                    <h3 class="no-space">100+</h3>
                    <h3 class="no-space">Projects</h3>
                </div>


                <div class="card-projects">
                    <img src="/img/img1.jpg" alt="House">
                    <h3 class="no-space">100+</h3>
                    <h3 class="no-space">Projects</h3>
                </div>
            </div>

        </section>



        <section class="community-industries" style="max-width:1246px">
            <hr>
            <h2>Industries</h2>

            <ul class="categories-icons" id="community-icons">
                <li><i class="fas fa-laptop-code"></i></li>
                <li><i class="fas fa-pen-nib"></i></li>
                <li><i class="fas fa-film"></i></li>
                <li><i class="fas fa-handshake"></i></li>
                <li><i class="fas fa-user-lock"></i></li>
            </ul>

            <ul class="categories-list" id="community-list">

                <li>digital marketing</li>
                <li>graphics & design</li>
                <li>video & animation</li>
                <li>business</li>
                <li>cyber security & IT</li>
            </ul>
        </section>

        <section class="content-map" style="max-width:1246px">
            <hr>
            <h2>Find a coffee shop near you</h2>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3352.1523443002216!2d-96.7867062!3d32.8412178!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1572977541043!5m2!1sen!2sus"
                width="800" height="450" frameborder="0" style="border:0;"
                allowfullscreen=""></iframe>


        </section>

    </section>
</div>