
 <link href="/styles/membership.css" rel="stylesheet" type="text/css">
<section class="search-form">
  <form action="" method="GET" name="search" role="search">
    <p class="inp-wrap search-wrap">
      <label for="search-field" class="search-label grid-25">Find</label>
      <input type="search" name="search-term" id="search-field" class="grid-75" placeholder="Industry..." />
    </p>
    <p class="inp-wrap cat-wrap">
      <label for="categories" class="grid-20">in</label>
      <select name="search categories" id="categories" class="grid-80" placeholder="Location...">
        <option value="FrontEnd" selected>City</option>
        <option value="html/css">Los Angeles</option>
        <option value="javascript">Chicago</option>
        <option value="datascience">Dallas</option>
        <option value="fullstack">San Francisco</option>
        <option value="backend">New York</option>
        <option value="webdesign">Miami</option>
      </select>
    </p>
    <p class="inp-wrap submit-wrap">
      <button class="grid-100 btn">
        <span class="search-icon-container">
          <?xml version="1.0" encoding="utf-8"?>
        </span>
        Search
      </button>
    </p>
  </form>
</section>
<!-- The userprofiles -->
<div class="card">
  <img src="userpic.jpg" alt="John">
  <h1>John Doe</h1>
  <p class="jobtitle">Front End Developer</p>
  <p>PHP, Javascript, Ruby, MySQL</p>
  <p>Harvard University</p>
  <p>Dallas, TX</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Collaborate</button></p>
</div>