<div id="userprofileBG">

 <nav class="navbar navbar-expand-sm navbar-dark" id="member-nav">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="/mainpage"></a>
            <img src="/img/logo2.png" alt="logo" style="width:70px; height:55px;">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/community">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/members">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/messages">Messages</a>
                </li>
            </ul>
            <a class="navbar-brand" href="/userprofile">
            <img src="/img/headPic.png" id="profile-icon" alt="logo"
                style="width:55px; height:45px;">
            </a>
        </nav>


        <div class="side-profile">

                <img src="/img/daniela.jpg" alt="Avatar" class="left" style="border-radius: 50%" id="profilepic">
                <div id="jobtitle">
                    <h4>Daniela Chavez</h4>
                    <p id="info">Web Designer</p>
                    <p id="info">Dallas, TX</p> 
                    <p id="info">469-265-2181</p> 
                    <p id="info">danielachavez18@gmail.com</p>
                </div>

        </div>

        <div class="user-profile">
                <h4 id="education-title">Education</h4>
                <p id="school">The American School of Lima | 2001 - 2012 | High School & IB Diploma | Lima, Peru</p>
                <p id="school">Loyola University New Orleans | 2012 - 2017 | Bachelors in Mass Communications | New Orleans, LA</p>
                <p id="school">Southern Methodist University | 2019 | Certificate | Dallas, TX</p> 
                
                <hr>
                <h4 id="experience-title">Experience</h4>
                <p id="work">Data Analyst at Facebook | 2017 - 2019 | Fort Worth, TX</p>
                <hr>
                <h4 id="skills-title">Skills</h4>
                <p id="skills">Video Editing | Photoshop | Graphic Design</p>
                <p id="skills">Writing | Web Design | Social Media Marketing</p>

        </div>

<div class="footer">
  <p>Copyright</p>
</div>

</div>
