/*HOMEPAGE CSS*/

.list-group-item {
  line-height: 2.5;
}

.header-container {
  justify-content: space-evenly;
  max-width: 100%;
}
.bg-dark {
  background-color: rgba(139, 139, 139, 0.5);
}
.title {
  background-image: url("/img/backgroundCoffee.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-left: auto;
  padding-top: 180px;
  padding-bottom: 250px;
  height: 600px;
}
img {
  width: 300px;
  height: 320px;
}
h1 {
  color: white;
  background-color: rgba(160, 160, 160, 0.5);
  font-family: "Aileron-Thin";
  font-size: 90px;
  margin-bottom: 0;
  margin-left: 15%;
  margin-right: 15%;
}
h3 {
  color: rgb(0, 0, 0);
  background-color: rgba(160, 160, 160, 0.5);
  font-family: "Aileron-Thin";
  letter-spacing: 0.3cm;
  font-size: 25px;
  margin-bottom: 0;
  margin-left: 15%;
  margin-right: 15%;
}
h4 {
  color: rgb(0, 0, 0);
  background-color: rgba(160, 160, 160, 0.5);
  font-family: "Aileron-Thin";
  font-size: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: Aileron-Thin;
  src: local("Aileron-Thin"), url(MgOpenModernaBold.ttf);
}

/* THIS IS THE LOG IN SECTION */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button:hover {
  opacity: 0.8;
}
.imgcontainer {
  background-color: rgba(160, 160, 160, 0.9);
  text-align: center;
  margin-top: 2px;
  position: relative;
}

img.avatar {
  width: 180px;
  height: 150px;
  border-radius: 50%;
}
b {
  color: white;
}

/* Extra styles for the cancel button */
/* .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #dad6d6;
} */
.container {
  padding: 16px;
  background-color: rgba(160, 160, 160, 0.9);
}

span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal (background) */
.modal {
  display: none;
  position: absolute;
  /* z-index: 1;  */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(160, 160, 160, 0.5);
  margin: 5% auto 15% auto;
  border: 1px solid rgb(0, 0, 0);
  width: 80%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* END OF HOMEPAGE CSS */

/* START OF COMMUNITY DASHBOARD CSS */

#community-background {
  background-image: url(/img/meeting.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#community-header h1 {
  background: none;
  margin: 20px 0 40px 0;
}

#communityh3 {
  background: none;
  letter-spacing: normal;
}

.no-space {
  letter-spacing: normal;
}

#member-nav {
  background-color: rgba(139, 139, 139, 0.5);
}

#profile-icon {
  display: flex;
  justify-content: flex-end;
  margin-left: 62%;
}

#entire-page {
  backdrop-filter: blur(5px);
}

.header-container {
  justify-content: space-evenly;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.479);
}

h1 {
  font-family: "Aileron-Thin";
  margin-top: 20px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Aileron-Thin";
  color: rgb(255, 255, 255);
  font-size: 22px;
  margin-left: 10px;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
}

h3 {
  font-family: "Aileron-Thin";
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-left: 10px;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
}

* {
  box-sizing: border-box;
}

img {
  height: 200px;
  width: 250px;
}

/* Float four columns side by side */

#community-row {
  margin-left: 10px;
  margin-bottom: 8%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .card-projects {
    margin-bottom: 2%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(202, 202, 202, 0.795);
    padding-left: 3px;
    padding-right: 3px;
    width: 300px;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.815);
  }
}

.fa {
  font-size: 50px;
}

.community-industries {
  height: 300px;
}

.fas {
  width: 50px;
  height: 30px;
}

#community-icons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  margin-top: 8%;
  margin-bottom: 0;
}

#community-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
}

li {
  color: white;
}

.content-map {
  height: 600px;
}

iframe {
  margin-left: 20%;
  margin-top: 3%;
}

/* END OF COMMUNITY DASHBOARD CSS */

/* START OF MEMBERSHIP CSS */
#membershipBG {
  background-image: url(./coffelaptop.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#member-nav {
  background-color: rgba(139, 139, 139, 0.5);
}

#profile-icon {
  display: flex;
  justify-content: flex-end;
  margin-left: 60%;
}

/*SEARCH SECTION */
::selection {
  color: #fff;
}

.search-form {
  position: relative;
  margin-top: 55px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#membershipForm {
  /* font size 0 to remove inline-block whitespcae*/
  font-size: 0;
  max-width: 50rem;
  margin: auto;
}

.inp-wrap {
  display: inline-block;
}

/* very messy "grid" styles */

[class*="grid-"] {
  vertical-align: top;
  height: 3.125rem;
  font-size: 1.2rem;
}

.search-wrap {
  width: 50%;
}

.cat-wrap {
  width: 35%;
}

.submit-wrap {
  width: 15%;
}

.grid-20 {
  width: 20%;
}

.grid-25 {
  width: 25%;
}

.grid-75 {
  width: 75%;
}

.grid-80 {
  width: 80%;
}

.grid-100 {
  width: 100%;
}

/* input and label styles*/

label {
  padding: 0 1rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 3.125rem;
  background: #2f2f2f;
  cursor: pointer;
  text-align: center;
  font-weight: 300;
  color: #fff;
  transition: color 0.2s ease-in-out, 0.2s ease-in-out;
}

label:hover {
  background: #e1e1e1;
}

.search-label {
  width: 25%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input,
select {
  transition: box-shadow 0.2s ease-in-out;
  border: 0;
  padding: 0 0 0 0.5em;
  background-color: rgba(255, 255, 255, 0.466);
}

#search-field:focus,
select:focus {
  outline: none;
  border: 0;
  box-shadow: inset 0 0 0 5px rgb(94, 94, 94);
}

/* select menu styles */

.cat-wrap {
  padding: 0;
  position: relative;
  z-index: 1;
}

/* triangle */

.cat-wrap::after {
  content: "\25BC";
  position: absolute;
  top: 0.6rem;
  right: 0.5em;
  color: #0a0a0a;
  font-size: 1.2rem;
  pointer-events: none;
}

select {
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

option {
  margin: 0.6em 0;
}

/* search button and icon styles */

/* remove mozilla button styles */

button::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

.btn {
  text-transform: uppercase;
  font-size: 1.1rem;
  border: 0;
  padding: 0 0.3em 0 0;
  background: rgba(0, 0, 0, 0.747);
  color: white;
  font-weight: 600;
  transition: 0.25s ease-in-out;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:hover,
.btn:focus,
.btn:active {
  outline: 0;
  background: rgb(17, 17, 17);
  color: #333333;
}

.btn:active {
  transform: translateY(1px);
}

.search-icon-container {
  outline: 0;
}

#search-icon {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  outline: 0;
  fill: #fff;
}

.btn:hover #search-icon,
.btn:focus #search-icon {
  fill: #533f3f;
}

@media screen and (max-width: 820px) {
  .search-label {
    border-radius: 0;
  }
  .cat-wrap {
    width: 50%;
  }
  .submit-wrap {
    width: 50%;
    display: block;
    margin: 1rem auto 1rem;
  }
  .btn {
    border-radius: 5px;
  }
  .search-form {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 560px) {
  .cat-wrap,
  .search-wrap {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .grid-80 {
    width: 75%;
  }
  .grid-20 {
    width: 25%;
  }
}

/* LOADER */
.loader {
  display: none;
  position: relative;
  margin-left: 580px;
  margin-top: 20px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #161616e5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* USER CARDS PROFILE SECTION */

/* .row {
     display: flex;
     flex-direction: row;
}

.card {
    display: flex;
}


* {
    box-sizing: border-box;
  }
  
  /* Style the search field
  form.example input[type=text] {
    margin-top: 30px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 500px;
    background: #f1f1f1;
  }
  
  /* Style the submit button
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: 500px;
    margin: auto;
    text-align: center;
    font-family: 'Aileron-Thin';
    margin-top: 130px;
  }

img {
    width: 300px;
    height: 200px;
}

h1 {
    color: black;
    font-family: 'Aileron-Thin';
    font-weight: bolder;
    font-size: 25px;
}
  
  .jobtitle {
    color: grey;
    font-size: 18px;
    font-weight: bold;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

/* END OF MEMBERSHIP CSS */

/* CHAT MESSAGES CSS*/
#mainPageBG {
  background-image: url(./coffeesinglecup.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.msgContainer {
  max-width: 800px;
  height: 300px;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  margin: 0 auto;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.msgContainer::after {
  content: "";
  clear: both;
  display: table;
}

.msgContainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.msgContainer img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
/* END OF CHAT MESSAGES */

/* START OF USER PROFILE PAGE CSS */

/* END OF USER PROFILE PAGE CSS */

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  /* .cancelbtn {
     width: 100%;
  } */
}

@media screen and (max-width: 820px) {
  .search-label {
    border-radius: 0;
  }
  .cat-wrap {
    width: 50%;
  }
  .submit-wrap {
    width: 50%;
    display: block;
    margin: 1rem auto 1rem;
  }
  .btn {
    border-radius: 5px;
  }
  .search-form {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 560px) {
  .cat-wrap,
  .search-wrap {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .grid-80 {
    width: 75%;
  }
  .grid-20 {
    width: 25%;
  }
}
